@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  background-color: unset;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

input[type="number"] {
  &::-webkit-outer-spin-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  appearance: textfield;
  -moz-appearance: textfield;
}

$main: #1abc9c;
$main80: #1abc9ccc;
$main60: #1abc9c99;
$main10: #1abc9c1a;
$dark: #0d0d0d;
$border: #dddddd;
$inputBg: #f8f8f8;
$inputHint: #aaaaaa;
$gray: #777777;
$grayLight: #777777cc;
$lightGray: #eeeeee;
$text: #666b88;
$starColor: #ffd500;
$white: #fff;
$inputStroke: #f2f2f2;
$success: #34b53a;
$successLight: #34b53acc;
$danger: #ff3a29;
$dangerLight: #dc3545cc;
$borderRadius: 12px;
$transition: 0.3s ease-in-out;
$shadow: 0px 2px 8px #0000001a;

.modal-header {
  border-bottom: 0;
  .btn-close {
    box-shadow: none !important;
    background-image: url("/images/icons/close.svg");
    margin-inline-start: auto !important;
    margin-inline-end: 0 !important;
  }
  h6 {
    color: $dark;
    margin-bottom: 0;
  }
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}

:root {
  --bs-border-radius-lg: 24px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
}

.closeModal {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  @include centerFlex();
  box-shadow: $shadow;
  i {
    color: $dark;
  }
}

.customBtn {
  border: none;
  outline: none;
  background: none;
  isolation: isolate;
  padding: 12px 16px;
  width: 160px;
  margin: auto;
  border: 1px solid $main;
  color: $main;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: $transition;
  &::after {
    position: absolute;
    content: "";
    height: 1000px;
    width: 0;
    right: 50%;
    transition: $transition;
    background: $main;
    transform: rotate(-25deg);
    z-index: -1;
  }
  &:hover {
    color: #fff;
    border-color: $main;
    &::after {
      width: 110%;
      right: -10px;
    }
  }
}

.getAppModal {
  text-align: center;
  .modal-body {
    padding: 24px;
  }
  .modalHeader {
    position: relative;
    .btn-close {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }
  }
  .modalBody {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .modalTitle {
    flex: 1;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 28px;
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
    span {
      color: $main;
      font-size: 28px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
  }

  .qrcode {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 3 / 2;
    object-fit: contain;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    img {
      height: 42px;
    }
  }
}
.css-t3ipsp-control {
  border-color: $lightGray !important;
  box-shadow: none !important;
  &:hover {
    background-color: $white !important;
  }
}
.css-13cymwt-control {
  border-color: $lightGray !important;
}
.select__indicator-separator {
  display: none !important;
}
.select__menu {
  z-index: 999999 !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.7;
}

.image_laoder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  opacity: 0;
  background: #e9e9e9;
  transition: $transition;
  &.laoding {
    opacity: 1;
  }
}

.tableLoader {
  min-height: 548px;
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 40px;
    height: 40px;
  }
  svg path,
  svg rect {
    stroke: $main;
  }
}

.data-loader {
  flex: 1;
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 80px;
    height: 80px;
  }
  svg path,
  svg rect {
    fill: $main;
  }
}

a,
button {
  transition: $transition;
}

.back-to-top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 88px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &::before {
    position: absolute;
    font-family: "Font Awesome 6 Pro";
    content: "\f062";
    text-align: center;
    line-height: 45px;
    opacity: 1;
    height: 45px;
    width: 45px;
    font-size: 16px;
    font-weight: 600;
    color: $main;
  }
  svg.progress-circle path {
    stroke: $main;
    stroke-width: 4;
  }
}

.form-check-input {
  cursor: pointer;
  box-shadow: none !important;
  &:focus {
    border-color: var(--bs-border-color);
  }
  &:checked {
    background-position: right center;
    background-image: url("/images/icons/check-checked-icon.svg");
    border-color: $main;
  }
}

.dropdown-toggle::after {
  display: none;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}
.css-1hac4vs-dummyInput {
  width: 0 !important;
}

.fit_content {
  width: fit-content !important;
  padding: 0 48px;
}
