.how_it_works {
  padding: 60px 0;
  .content {
    padding-inline-end: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
      font-size: 36px;
      color: $main;
      @media screen and (max-width: 768px) {
        font-size: 26px;
      }
    }
    p {
      color: #333;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: #333;
      i {
        color: $main;
      }
    }
  }
}

.whyus {
  padding: 60px 0;
  min-height: 400px;
  background-image: linear-gradient(#001589d9, #001589d9),
    url("/images/whyUs.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  &.methods {
    background-image: linear-gradient(#001589d9, #001589d9),
      url("/images/why3.jpg");
  }
  h2 {
    color: $white;
    text-align: center;
    font-size: 46px;
    margin: 0 auto;
    margin-bottom: 62px;
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }
  h5 {
    color: #99a2ca;
    font-size: 32px;
    text-align: center;
  }
  h6 {
    color: $white;
    text-align: center;
    margin-bottom: 62px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    li {
      align-items: center;
      display: flex;
      gap: 12px;
      color: $white;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.how_we_do {
  padding: 60px 0;
  background: #f4f5f8;
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    h2 {
      color: $main;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.7;
    }
    p {
      line-height: 2;
      color: #333;
    }
  }
  .title {
    color: $main;
    margin-top: 24px;
    text-align: center;
  }
  .subtitle {
    text-align: center;
    margin: 0 auto;
    width: min(800px, 100%);
  }
  .setps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
    .step {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      min-width: 200px;
      gap: 18px;
      position: relative;
      .num {
        position: absolute;
        top: 8px;
        left: 20px;
        z-index: 9;
        background: #6673af;
        color: $white;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        @include centerFlex();
      }

      @media screen and (max-width: 768px) {
        max-width: 160px;
        min-width: 160px;
      }
      .icon {
        width: 180px;
        height: 180px;
        background: $white;
        border-radius: 50%;
        @include centerFlex;
        position: relative;
        @media screen and (max-width: 768px) {
          width: 150px;
          height: 150px;
          img {
            height: 70px;
          }
        }
        &::after {
          content: "";
          background: url("/images/line.svg");
          position: absolute;
          top: 50%;
          height: 10px;
          width: 100px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          left: 96%;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
      h4 {
        text-align: center;
        font-size: 24px;
        color: #333;
        font-weight: 600;
        margin: 0;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
      &:last-child .icon::after {
        display: none;
      }
    }
  }
  .center_t {
    width: min(800px, 100%);
    margin: 0 auto;
  }
}

.parteners {
  padding: 60px 0;
  background: #f4f5f8;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    p {
      text-align: center;
      color: #333;
    }
    .customBtn {
      width: fit-content;
    }
  }
}

.jobseekers_section {
  padding: 60px 0;
  .content {
    display: flex;
    flex-direction: column;
    padding-inline-end: 12px;
    gap: 16px;
    h2 {
      font-size: 18px;
      color: #7c878e;
    }
    h3 {
      color: $main;
      font-weight: 600;
      font-size: 36px;
    }
    li {
      display: flex;
      align-items: center;
      gap: 12px;
      i {
        color: $main;
      }
    }
    p {
      font-size: 14px;
      color: #777;
      margin: 0;
      b {
        color: $main;
      }
    }
  }
}

.resumes {
  padding: 60px 0;
  background: #f4f5f8;
  .cv {
    display: flex;
    background: $white;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .img {
      flex: 1;
      img {
        aspect-ratio: 3 / 2;
        width: 100%;
        object-fit: cover;
        object-position: 50% 30%;
      }
    }
    .content {
      flex: 1;
      padding: 32px;
      display: flex;
      gap: 12px;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 576px) {
        padding: 24px;
      }
      .head {
        h3 {
          color: $main;
          font-size: 26px;
        }

        .date {
          position: absolute;
          right: 24px;
          top: 0;
          background: #6673af;
          height: 110px;
          width: 80px;
          padding: 12px;
          color: $white;
          font-size: 16px;
          display: flex;
          align-items: center;
          flex-direction: column;
          clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
        }
      }
      .actions {
        display: flex;
        align-items: center;
        gap: 24px;
        a {
          background: $main;
          color: $white;
          padding: 12px 24px;
        }
      }
    }
  }
}

.filter_section {
  padding: 60px 0;
  background: $main;
  h2 {
    color: $white;
  }

  form {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .input_field {
      background: $white;
      width: 100%;
      gap: 12px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      img {
        height: 22px;
      }
      input,
      select {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
      }
    }
    button {
      background: #ffffff57;
      height: 52px;
      min-width: 52px;
      img {
        height: 22px;
      }
    }
  }
}

.jobseekers_details_section {
  padding: 60px 0;
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .head {
      h2 {
        color: $main;
      }
      p {
        color: #777;
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      ul {
        li {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          gap: 8px;
          font-size: 14px;
          i {
            color: $main;
          }
        }
      }
    }
  }
}

.bottom_action {
  @include space-between();
  .share {
    display: flex;
    align-items: center;
    gap: 12px;
    p {
      margin: 0;
    }
    ul {
      display: flex;
      gap: 24px;
      a {
        color: $main;
        font-size: 20px;
      }
    }
  }
  .back_btn {
    border: 1px solid $main;
    padding: 12px 32px;
    border-radius: 80px;
    color: $main;
  }
}
.logos {
  background: $white;
  padding: 40px 0;
  width: 100%;
  display: block;
  img {
    width: 180px;
    height: 180px;
    .img {
      @include centerFlex();
    }
  }
}
