.hero_section {
  height: calc(100vh - 108px);
  @media screen and (max-width: 576px) {
    height: calc(100vh - 98px);
  }
  .swiper,
  .swiper-wrapper,
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #00158937;
      padding: 12px;
      .container {
        height: 100%;
        display: flex;
        gap: 12px;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 170px;
        h1 {
          color: $white;
        }
        p {
          color: $white;
          max-width: 500px;
        }
        h1 {
          font-size: 36px;
          line-height: 1.5;
          @media screen and (max-width: 576px) {
            font-size: 26px;
          }
        }
        a {
          background: $main;
          color: $white;
          width: fit-content;
          padding: 14px 28px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          gap: 12px;
          img {
            filter: brightness(0) invert(1);
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  .swiper-slide-active .container {
    h1 {
      animation: fadeInUp 0.5s 0s both;
    }
    p {
      animation: fadeInUp 0.5s 0.25s both;
    }
    a {
      animation: fadeInUp 0.5s 0.5s both;
    }
  }
  .swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    border-radius: 24px;
    background: $white;
    transition: $transition;
    &.swiper-pagination-bullet-active {
      width: 48px;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.why_choose_ofw {
  padding: 60px 0;
  h3 {
    color: #7c878e;
    font-size: 22px;
  }
  h2 {
    color: $main;
    font-size: 32px;
    @media screen and (max-width: 576px) {
      font-size: 26px;
    }
  }
  .nav-pills {
    flex-direction: column;
    gap: 16px;
    position: relative;
    @media screen and (max-width: 576px) {
      gap: 8px;
    }
    &::before {
      content: "";
      width: 6px;
      height: 100%;
      background: #ccd0e4;
      position: absolute;
      border-radius: 12px;
      top: 0;
      left: 0;
    }
    .nav-link {
      background: none !important;
      font-weight: 500;
      color: #000;
      font-size: 22px;
      padding: 8px 24px;
      position: relative;
      @media screen and (max-width: 576px) {
        font-size: 18px;
      }
      &::after {
        content: "";
        width: 6px;
        height: 100%;
        background: #ccd0e4;
        position: absolute;
        border-radius: 12px;
        top: 0;
        transition: 0.3s ease-in-out;
        left: 0;
      }
      &.active {
        color: $main;
        &::after {
          background: $main;
        }
      }
    }
  }
  p {
    color: #333;
    line-height: 2.2;
  }
}

.apply_now {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .field {
    flex: 1;
    background: #eee;
    img {
      width: 100%;
    }
    .img {
      position: relative;
      .apply {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        background: linear-gradient(
          0deg,
          #001489 0%,
          rgba(0, 20, 137, 0) 92.96%
        );
        display: flex;
        align-items: end;
        justify-content: center;
        a {
          margin: 52px;
          color: $white;
          border-radius: 12px;
          padding: 12px 32px;
          border: 1px solid $white;
          position: relative;
        }
      }
    }
    .content {
      padding: 32px;
      p {
        line-height: 2.2;
      }
    }
    &:nth-child(2) {
      background: #dcdcdc;
    }
    &:hover {
      .img .apply {
        height: 100%;
      }
    }
  }
}

.about_section {
  padding: 80px 0;
  .about_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 62px;
    h4 {
      color: #7c878e;
    }
    h3 {
      color: $main;
      margin-bottom: 24px;
    }
    p {
      text-align: center;
      line-height: 1.9;
      width: min(1100px, 100%);
      margin: 0 auto;
      text-wrap: balance;
    }
  }
  .content {
    gap: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-end: 16px;
    h2 {
      color: $main;
    }
    p {
      color: $dark;
      line-height: 1.9;
      text-wrap: balance;
    }
  }
}

.popular_service {
  .services {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .service {
      width: 100%;
      height: 100%;
      min-width: 240px;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 32px 24px;
      background: #f4f5f8;
      gap: 12px;
      transition: all 0.4s ease-in-out;
      h6 {
        color: #000;
        font-size: 16px;
        margin: 12px 0 0;
        text-align: center;
      }
      p {
        font-size: 14px;
        color: #777777;
        margin: 0;
        line-height: 24px;
      }
      img {
        object-fit: contain;
        height: 54px;
      }
    }
  }
}

.section_hint {
  padding: 8px 24px;
  border-radius: 60px;
  font-size: 14px;
  width: fit-content;
  color: $main;
  background: #daeeff;
}

.statistics_section {
  min-height: 400px;
  background-image: linear-gradient(#001589d9, #001589d9),
    url("/images/platinum-workers.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    .img {
      position: relative;
    }
    img {
      height: 360px;
      position: absolute;
      top: -230px;
      left: 50%;
      transform: translateX(-50%);
    }
    h2 {
      color: $white;
      font-size: 28px;
      line-height: 2;
    }
  }
}

.faqs_section {
  padding: 60px 0;
  background: #f4f5f8;
  h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #001489;
    margin-bottom: 48px;
  }

  .num {
    text-wrap: nowrap;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: $white;
    background: $main;
    font-size: 14px;
    @include centerFlex();
  }

  .accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .accordion-item {
      overflow: hidden;
      border: 0;
      backdrop-filter: blur(6px);
      transition: $transition;
      background: $white;
      box-shadow: none;
      &.active {
        background: #e4367512;
        button {
          color: $white !important;
        }
        &::after {
          color: $white !important;
        }
      }
      .accordion-button {
        padding: 28px 24px;
        box-shadow: none !important;
        color: $main;
        gap: 12px;

        &::after {
          content: "\f00d";
          font-family: "Font Awesome 6 Pro";
          background: none;
          @include centerFlex();
          font-size: 16px;
          font-weight: 400;
          transform: rotate(135deg);
          transform-origin: center;
        }
        &:not(.collapsed)::after {
          transform: rotate(0deg);
        }
      }
      .accordion-body {
        background: transparent !important;
        p {
          color: #777 !important;
          margin: 0;
          line-height: 1.8;
        }
      }
    }
  }
  .accordion-button:not(.collapsed) {
    background: $main !important;
    color: $white !important;
    .num {
      background: $white;
      color: $main;
    }
  }
}

.features_section {
  padding: 60px 0;
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3 {
      color: $main;
    }
    p {
      color: #333;
      line-height: 1.9;
    }
    ul {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
      li {
        display: flex;
        align-items: center;
        gap: 12px;
        i {
          color: $main;
        }
      }
    }
    a {
      color: $main;
    }
  }
}

.about_img {
  width: 100%;
  position: relative;
  isolation: isolate;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: -24px;
    right: -24px;
    border: 10px solid $inputBg;
    @media screen and (max-width: 576px) {
      top: -16px;
      right: -16px;
    }
  }
  img {
    width: 100%;
    z-index: 9;
  }
}

.positions {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 24px;
  li {
    border: 1px solid #e5e5e5;
    padding: 8px 12px;
    border-radius: 100px;
    i {
      color: $main;
    }
  }
}
