.pagination_component {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
  justify-content: center;
  img {
    opacity: 50%;
    transition: opacity 0.2s;
  }
  button:hover {
    img {
      opacity: 100%;
    }
  }
  button.disabled:hover {
    img {
      opacity: 50%;
    }
    cursor: default;
  }
  .reverse {
    img {
      transform: rotate(180deg);
    }
  }
  p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    span {
      color: $dark;
      font-weight: 600;
    }
  }
}
.numbers {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  button {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    font-size: 15px;
    color: $dark;
    font-weight: 500;
    transition: 0.2s;
    &:hover {
      background: #cfcfcf;
    }
    &.active {
      color: $white;
      background: #001489;
    }
  }
}
.paginator_btns {
  display: flex;
  align-items: center;
  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    @include centerFlex();
    cursor: pointer;
    i {
      color: $gray;
      font-size: 18px;
    }
    &.disabled {
      opacity: 50%;
      pointer-events: none;
    }
    &:hover i {
      color: $dark;
    }
  }
}
