@import "./config";
body {
  position: relative;
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  @import "./header";
  @import "./footer";
  @import "./form-ui";
  @import "./auth_section";
  @import "./product";
  @import "./articles_section";
  @import "./profile_section";
  @import "./about";
  main {
    min-height: calc(100vh - 426px);
    @media screen and (max-width: 992px) {
      min-height: calc(100vh - 100px);
    }
    @import "./home";
    @import "./contact";
    @import "./profile_section";
    @import "./articles_section";
    @import "./product_details";
    @import "./user";
    @import "./ads";
    @import "./search";
    @import "./chat";

    .error-section {
      padding: 60px 16px;
      @include centerFlex();
      gap: 16px;
      flex-direction: column;
      align-items: center;
      img {
        height: 300px;
        margin-bottom: 24px;
        @media screen and (max-width: 576px) {
          height: 230px;
        }
      }
      h2 {
        margin: 0;
        text-align: center;
        font-size: 24px;
        color: $dark;
        line-height: 1.7;
        max-width: 600px;
        margin: 0 auto;
        @media screen and (max-width: 576px) {
          font-size: 20px;
        }
      }
      a {
        color: $main;
        border: 1px solid $main;
        position: relative;
        transition: $transition;
        @include centerFlex();
        padding: 8px 24px;
        transition: $transition;
        border-radius: 12px;
        gap: 8px;
        background: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        position: relative;
        transition: $transition;
        i {
          font-size: 16px;
        }
        &:hover {
          color: $white;
          border-color: $main;
          background-color: $main;
        }
      }
    }
  }
  .viewAskModal .modal-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .user_info {
      display: flex;
      align-items: center;
      gap: 12px;
      .img {
        min-width: 52px;
        max-width: 52px;
        height: 52px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        h6 {
          color: $main;
          margin: 0;
        }
        span {
          color: $text;
          font-size: 12px;
        }
      }
    }
    p {
      margin: 0;
    }
    .wrapper {
      max-height: 50vh;
      display: flex;
      flex-direction: column;
      gap: 24px;
      background: $inputBg;
      padding: 16px;
      border-radius: 16px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
      > .CommentWrapper {
        > .CommentCard {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .confirm-delete {
    p {
      color: $dark;
      font-size: 16px;
      margin-bottom: 24px;
      span {
        color: red;
        font-weight: 600;
      }
    }
    .cancel-btn {
      border: 1px solid $inputStroke;
      color: $dark;
      width: 100%;
      outline: none;
      background: none;
      padding: 12px;
      border-radius: 12px;
    }
    .delete-btn {
      width: 100%;
      padding: 8px;
      background: rgb(255, 0, 0);
      color: $white;
      border-radius: 12px;
      border: 0;
      outline: none;
    }
    &.other {
      .delete-btn {
        background: $main;
      }
    }
  }
  .notifications_section {
    width: 100%;
  }
  .notificationCard {
    padding: 12px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    background: $inputBg;
    .img {
      min-width: 48px;
      max-width: 48px;
      height: 48px;
      img {
        border: 1px solid $inputStroke;
        background: $white;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
      }
    }
    .notify {
      h6 {
        font-size: 14px;
        text-align: start;
        color: $dark;
      }
      p {
        font-size: 12px;
        text-align: start;
        color: $text;
        margin: 0;
      }
    }
    &.skeleton {
      background: $white;
      width: 100%;
      .notify {
        width: 100%;
      }
      .skeleton-img {
        border-radius: 50%;
        background: #e0e0e0;
        animation: pulse 1.5s ease-in-out infinite;
      }
      .skeleton-text {
        background: #e0e0e0;
        height: 16px;
        border-radius: 4px;
        width: 25%;
        animation: pulse 1.5s ease-in-out infinite;
      }
      .skeleton-title {
        width: 75%;
        height: 24px;
        animation: pulse 1.5s ease-in-out infinite;
      }
    }
  }
  .CommentCard {
    gap: 12px;
    display: flex;
    position: relative;
    &.reverse {
      padding: 16px;
      border-radius: 12px;
      background-color: $white;
      &::before,
      &::after {
        display: none;
      }
      .comment {
        background-color: #f9f9f9 !important;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 18px;
      border-radius: 0 0 24px 0;
      right: -30px;
      top: 0;
      border-right: 1px solid #a5a5a5;
      border-bottom: 1px solid #a5a5a5;
    }
    &::after {
      content: "";
      position: absolute;
      right: 18px;
      top: 42px;
      width: 1px;
      height: 100%;
      background: #a5a5a5;
    }
    .img {
      min-width: 36px;
      max-width: 36px;
      height: 36px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: start;
      h6 {
        color: $main;
        margin-bottom: 8px;
      }
      .comment {
        background: $white;
        padding: 12px;
        border-radius: 12px;
        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
    .actions {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 16px;
      span {
        font-size: 12px;
        color: $gray;
        flex: 1;
      }
      button {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        color: $gray;
      }
    }
  }
  .CommentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    gap: 24px;
    .replies {
      padding-right: 48px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 18px;
        top: 0px;
        width: 1px;
        height: 100%;
        background: #a5a5a5;
      }
      .CommentCard {
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
      .CommentWrapper {
        &:last-child {
          &::after {
            content: "";
            width: 3px;
            height: calc(100% - 5px);
            border-radius: 50%;
            background: #f8f8f8;
            position: absolute;
            right: -31px;
            top: 12px;
            z-index: 2;
          }
        }
      }
      &.fromComments {
        .CommentWrapper {
          &:last-child {
            &::after {
              background: $white;
            }
          }
        }
      }
    }
    &:not(:has(.replies)) {
      .CommentWrapper {
        .CommentCard {
          &::after {
            display: none;
          }
        }
      }
    }
    &:not(:has(.replies .CommentWrapper)) {
      .CommentCard {
        &::after {
          display: none;
        }
      }
    }
  }
  .download_app {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    direction: ltr;
    display: none;
    z-index: 9999;
    .inner {
      background: $white;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
    }
    .icon {
      width: 62px;
      height: 62px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .text {
      h6,
      p {
        margin: 0;
      }
      p {
        color: $gray;
      }
    }
    @media screen and (max-width: 992px) {
      display: block;
    }
    .get_app {
      padding: 8px 24px;
      background: $main;
      color: $white;
      border-radius: 80px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.22);
      z-index: -1;
    }
  }
  .replyTo {
    font-size: 14px;
    color: $gray;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    display: flex;
    align-items: center;
    button {
      margin-inline-end: 8px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid $border;
      @include centerFlex();
      font-size: 14px;
    }
    b {
      color: $main;
    }
  }
  .addCommentForm {
    display: flex !important;
    align-items: end !important;
    flex-direction: row;
    button {
      width: fit-content !important;
      padding: 0 24px !important;
      height: 56px !important;
    }
  }
  .categories-page {
    padding: 16px 0;
    @media screen and (max-width: 992px) {
      > .container {
        padding: 0;
      }
      .sub {
        padding: 8px;
        h6 {
          font-weight: normal;
          white-space: normal;
          text-align: center;
        }
      }
      .subcategories_slider {
        padding: 4px !important;
      }
    }
  }
  .shapes {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    z-index: -1;
    width: 600px;
    height: 600px;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      aspect-ratio: 1;
      border: 4px solid #ffffff30;
      border-radius: 60% 60% 40% 40% / 50% 50% 50% 50%;
      transition: 0.3s ease-in-out;
      animation: rotate 5s linear infinite;
      &:nth-child(1) {
        width: 70%;
      }
      &:nth-child(2) {
        width: 50%;
        border-radius: 50% 50% 40% 50% / 60% 80% 40% 40%;
        border-width: 8px;
      }
      &:nth-child(3) {
        width: 30%;
        border-radius: 50% 60% 50% 50% / 60% 60% 80% 40%;
        border-width: 12px;
      }
    }
    @keyframes rotate {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
  .askCustomCountry {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    isolation: isolate;
    width: 100%;
    padding: 40px 0;
    gap: 16px;
    justify-content: center;
    background: $main;
    background-size: 400%;
    animation: animateBg 5s linear infinite;
    border-radius: 16px;
    color: $white;
    overflow: hidden;
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 24px;
      }
    }
    .selectedName {
      font-size: 24px;
      margin: 0;
    }
    .shapes {
      top: 0;
      right: unset;
      left: 0;
      transform: translate(-50%, -50%);
    }
    &:hover {
      .shapes span {
        &:nth-child(1) {
          width: 90%;
        }
        &:nth-child(2) {
          width: 60%;
        }
        &:nth-child(3) {
          width: 35%;
        }
      }
    }
    &.skeleton {
      height: 108.8px;
      background: #e0e0e0;
      animation: pulse 1.5s ease-in-out infinite;
      .shapes {
        display: none;
      }
    }
  }
  .loader {
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    img {
      height: 100px;
      object-fit: contain;
    }
    span {
      width: 100px;
      height: 2px;
      background: $inputBg;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        background: $main;
        height: 100%;
        animation: appLoading 0.5s linear infinite alternate;
      }
    }
    @keyframes appLoading {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(120px);
      }
    }
  }
  .categories_sidebar {
    padding: 8px;
    gap: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: #1abc9c1a;
    .category {
      background: $white !important;
      flex-direction: column;
      border-radius: 12px !important;
      padding: 16px 8px !important;
      > .img {
        width: 40px;
        height: 40px;
        border-radius: unset;
        background-color: transparent !important;
        img {
          width: 32px !important;
          height: 32px !important;
        }
      }
      &.active {
        background: $main !important;
        > .img {
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
  &.en {
    direction: ltr !important;

    .section-head {
      .arrow_icon {
        transform: rotate(180deg);
      }
    }
    .back-to-top {
      right: unset;
      left: 8px;
    }
    .back_btn {
      i {
        transform: rotate(180deg);
      }
    }
    input,
    select,
    textarea {
      direction: ltr !important;
    }
    .pass-group {
      .show-pass {
        border-radius: 0 12px 12px 0 !important;
      }
      input {
        border-radius: 12px 0 0 12px !important;
      }
    }
    .form .image-change-wrapper .img-wrap {
      .dropdown {
        left: unset !important;
        right: 0 !important;
      }
      .upload-btn {
        left: unset !important;
        right: -4px !important;
      }
    }
    .image-change-wrapper .cover-wrap {
      .dropdown {
        left: unset !important;
        right: 16px !important;
      }
    }
    .aboutus_section {
      .container {
        .how-it-works .steps-wrapper .step .step-header .header-line::before {
          left: unset !important;
          right: -5px !important;
        }
        .how-it-works .steps-wrapper .step .step-header .header-line::after {
          left: unset !important;
          right: -10px !important;
        }
        .heading-section {
          .info-wrapper {
            left: unset !important;
            right: 50px;
            @media screen and (max-width: 768px) {
              left: unset !important;
              right: 0;
            }
          }
        }
      }
    }
    header .mainLinks .moreActions .dropdown .dropdown-menu.show {
      inset: 26px auto auto -26px !important;
    }
    main .explore_ads .categories_slider .swiper-slide .category {
      padding: 4px 26px 4px 4px;
      &.sub {
        padding: 10px 16px;
      }
    }
    .form .phone_field {
      label {
        direction: ltr !important;
      }
      .countriesMenu {
        right: 0;
        left: unset;
      }
    }
    .closeModal {
      right: 16px;
      left: unset;
    }
    .Arrow_icon {
      transform: scale(-1);
    }
    .form .phone_field {
      direction: ltr !important;
    }
    .form .phone_field .dropdown button {
      border-radius: 0 12px 12px 0;
    }
    .form .phone_field input {
      border-radius: 12px 0 0 12px;
    }
  }
}
.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    font-size: 36px;
    font-weight: 800;
    color: #cecece;
    line-height: 1.6;
  }
}
.container {
  max-width: unset;
  width: min(100%, 1320px);
}
.swiper_wrapper {
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  left: 12px;
  top: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid $border;
  border-radius: 100%;
  transition: $transition;
  opacity: 0.8;
  background: #ffffff94;
  backdrop-filter: blur(12px);
  @media screen and (max-width: 768px) {
    width: 32px;
    height: 32px;
  }
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: url("../../../images/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: $transition;
    filter: brightness(0);
    @media screen and (max-width: 768px) {
      width: 16px;
      height: 16px;
    }
  }
  &:hover {
    opacity: 1;
    background-color: $main;
    color: $main;
    border-color: $main;
    &::after {
      filter: brightness(0) invert(1);
    }
  }
  &.swiper-button-disabled {
    opacity: 0.2;
  }
}
.swiper-button-next {
  right: 12px;
  left: unset;
  &::after {
    transform: scaleX(-1);
  }
}
.modal .modal-xl {
  max-width: unset;
  width: min(100% - 24px, 1140px);
  margin: 20px auto;
  justify-content: center;
}
.row {
  margin: 0;
}

.bg-white {
  background-color: $white !important;
}

.closeDownload {
  width: 24px;
  height: 24px;
  font-size: 14px;
  border-radius: 50%;
  background: $white;
  @include centerFlex();
  margin: 4px;
}
