@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  background-color: unset;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  box-shadow: none !important;
  background-image: url("/images/icons/close.svg");
  margin-inline-start: auto !important;
  margin-inline-end: 0 !important;
}
.modal-header h6 {
  color: #333333;
  margin-bottom: 0;
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
.closeModal {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
}
.closeModal i {
  color: #333333;
}

.customBtn {
  border: none;
  outline: none;
  background: none;
  isolation: isolate;
  padding: 12px 32px;
  border: 1px solid #001489;
  color: #001489;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.customBtn::after {
  position: absolute;
  content: "";
  height: 1000px;
  width: 0;
  right: 50%;
  transition: 0.3s ease-in-out;
  background: #001489;
  transform: rotate(-25deg);
  z-index: -1;
}
.customBtn:hover {
  color: #fff;
  border-color: #001489;
}
.customBtn:hover::after {
  width: 110%;
  right: -10px;
}

.customBtns {
  outline: none;
  background: none;
  isolation: isolate;
  padding: 12px 32px;
  border: 1px solid #001489;
  background-color: #001489;
  color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.customBtns img {
  filter: brightness(0) invert(1);
}

.css-t3ipsp-control {
  border-color: #eeeeee !important;
  box-shadow: none !important;
}
.css-t3ipsp-control:hover {
  background-color: #fff !important;
}

.css-13cymwt-control {
  border-color: #eeeeee !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  z-index: 999999 !important;
}

.data-loader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.data-loader .loader--style8 {
  width: 80px;
  height: 80px;
}
.data-loader svg path,
.data-loader svg rect {
  fill: #001489;
}

a,
button {
  transition: 0.3s ease-in-out;
}

.form-check-input {
  cursor: pointer;
  box-shadow: none !important;
}
.form-check-input:focus {
  border-color: var(--bs-border-color);
}
.form-check-input:checked {
  background-position: right center;
  background-image: url("/images/icons/check-checked-icon.svg");
  border-color: #001489;
}

.dropdown-toggle::after {
  display: none;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}

.css-1hac4vs-dummyInput {
  width: 0 !important;
}

.fit_content {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 0 48px;
}

.row {
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
body header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}
body header.sticky {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
}
body header .top_bar {
  height: 32px;
  width: 100%;
  background: #001489;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .top_bar ul {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 14px;
}
@media (max-width: 576px) {
  body header .top_bar ul {
    gap: 4px;
  }
}
body header .top_bar ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 576px) {
  body header .top_bar ul li {
    font-size: 8px;
    gap: 4px;
  }
}
body header .top_bar ul li::after {
  content: "•";
}
body header .top_bar ul li:last-child::after {
  display: none;
}
body header nav {
  padding: 12px 0;
  display: flex;
}
body header nav .logo {
  flex: 1;
}
body header nav .logo img {
  height: 52px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 576px) {
  body header nav .logo img {
    height: 42px;
  }
}
body header nav .nav_links {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  gap: 42px;
}
body header nav .nav_links .nav_link {
  color: #333333;
  transition: 0.3s ease-in-out;
  position: relative;
  font-weight: 500;
}
body header nav .nav_links .nav_link.active, body header nav .nav_links .nav_link:hover {
  color: #001489;
}
body header nav .nav_links .nav_link.logo {
  height: -moz-fit-content;
  height: fit-content;
  display: none;
  flex: unset;
  margin-bottom: 52px;
}
@media screen and (max-width: 992px) {
  body header nav .nav_links .nav_link.logo {
    display: flex;
  }
}
body header nav .nav_links .nav_link.logo::after {
  display: none;
}
body header nav .nav_links .nav_link.login {
  display: none;
}
body header nav .nav_links .nav_link.login::after {
  display: none;
}
@media screen and (max-width: 992px) {
  body header nav .nav_links .nav_link.login {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
@media screen and (max-width: 992px) {
  body header nav .nav_links {
    top: 0;
    bottom: 0;
    width: 50%;
    background: #fff;
    left: -50%;
    position: fixed;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    padding: 48px 24px;
    gap: 42px;
  }
  body header nav .nav_links .nav_link {
    width: -moz-fit-content;
    width: fit-content;
  }
  body header nav .nav_links.open {
    left: 0;
  }
}
body header nav .other_actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
@media screen and (max-width: 992px) {
  body header nav .other_actions .customBtn {
    display: none;
  }
}
body header nav .other_actions .toggler {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 18px;
  color: #000;
}
@media screen and (max-width: 992px) {
  body header nav .other_actions .toggler {
    display: flex;
  }
}
body .hero_section {
  height: calc(100vh - 108px);
}
@media screen and (max-width: 576px) {
  body .hero_section {
    height: calc(100vh - 98px);
  }
}
body .hero_section .swiper,
body .hero_section .swiper-wrapper,
body .hero_section .swiper-slide {
  width: 100%;
  height: 100%;
}
body .hero_section .slide {
  width: 100%;
  height: 100%;
  position: relative;
}
body .hero_section .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .hero_section .slide .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 21, 137, 0.2156862745);
  padding: 12px;
}
body .hero_section .slide .content .container {
  height: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 170px;
}
body .hero_section .slide .content .container h1 {
  color: #fff;
}
body .hero_section .slide .content .container p {
  color: #fff;
  max-width: 500px;
}
body .hero_section .slide .content .container h1 {
  font-size: 36px;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  body .hero_section .slide .content .container h1 {
    font-size: 26px;
  }
}
body .hero_section .slide .content .container a {
  background: #001489;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 28px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 12px;
}
body .hero_section .slide .content .container a img {
  filter: brightness(0) invert(1);
  width: 30px;
  height: 30px;
}
body .hero_section .swiper-slide-active .container h1 {
  animation: fadeInUp 0.5s 0s both;
}
body .hero_section .swiper-slide-active .container p {
  animation: fadeInUp 0.5s 0.25s both;
}
body .hero_section .swiper-slide-active .container a {
  animation: fadeInUp 0.5s 0.5s both;
}
body .hero_section .swiper-pagination-bullet {
  width: 24px;
  height: 4px;
  border-radius: 24px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
body .hero_section .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 48px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
body .why_choose_ofw {
  padding: 60px 0;
}
body .why_choose_ofw h3 {
  color: #7c878e;
  font-size: 22px;
}
body .why_choose_ofw h2 {
  color: #001489;
  font-size: 32px;
}
@media screen and (max-width: 576px) {
  body .why_choose_ofw h2 {
    font-size: 26px;
  }
}
body .why_choose_ofw .nav-pills {
  flex-direction: column;
  gap: 16px;
  position: relative;
}
@media screen and (max-width: 576px) {
  body .why_choose_ofw .nav-pills {
    gap: 8px;
  }
}
body .why_choose_ofw .nav-pills::before {
  content: "";
  width: 6px;
  height: 100%;
  background: #ccd0e4;
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
}
body .why_choose_ofw .nav-pills .nav-link {
  background: none !important;
  font-weight: 500;
  color: #000;
  font-size: 22px;
  padding: 8px 24px;
  position: relative;
}
@media screen and (max-width: 576px) {
  body .why_choose_ofw .nav-pills .nav-link {
    font-size: 18px;
  }
}
body .why_choose_ofw .nav-pills .nav-link::after {
  content: "";
  width: 6px;
  height: 100%;
  background: #ccd0e4;
  position: absolute;
  border-radius: 12px;
  top: 0;
  transition: 0.3s ease-in-out;
  left: 0;
}
body .why_choose_ofw .nav-pills .nav-link.active {
  color: #001489;
}
body .why_choose_ofw .nav-pills .nav-link.active::after {
  background: #001489;
}
body .why_choose_ofw p {
  color: #333;
  line-height: 2.2;
}
body .apply_now {
  display: flex;
}
@media screen and (max-width: 768px) {
  body .apply_now {
    flex-direction: column;
  }
}
body .apply_now .field {
  flex: 1;
  background: #eee;
}
body .apply_now .field img {
  width: 100%;
}
body .apply_now .field .img {
  position: relative;
}
body .apply_now .field .img .apply {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  background: linear-gradient(0deg, #001489 0%, rgba(0, 20, 137, 0) 92.96%);
  display: flex;
  align-items: end;
  justify-content: center;
}
body .apply_now .field .img .apply a {
  margin: 52px;
  color: #fff;
  border-radius: 12px;
  padding: 12px 32px;
  border: 1px solid #fff;
  position: relative;
}
body .apply_now .field .content {
  padding: 32px;
}
body .apply_now .field .content p {
  line-height: 2.2;
}
body .apply_now .field:nth-child(2) {
  background: #dcdcdc;
}
body .apply_now .field:hover .img .apply {
  height: 100%;
}
body .about_section {
  padding: 80px 0;
}
body .about_section .about_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 62px;
}
body .about_section .about_header h4 {
  color: #7c878e;
}
body .about_section .about_header h3 {
  color: #001489;
  margin-bottom: 24px;
}
body .about_section .about_header p {
  text-align: center;
  line-height: 1.9;
  width: min(1100px, 100%);
  margin: 0 auto;
  text-wrap: balance;
}
body .about_section .content {
  gap: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-end: 16px;
}
body .about_section .content h2 {
  color: #001489;
}
body .about_section .content p {
  color: #333333;
  line-height: 1.9;
  text-wrap: balance;
}
body .popular_service .services {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
body .popular_service .services .service {
  width: 100%;
  height: 100%;
  min-width: 240px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  background: #f4f5f8;
  gap: 12px;
  transition: all 0.4s ease-in-out;
}
body .popular_service .services .service h6 {
  color: #000;
  font-size: 16px;
  margin: 12px 0 0;
  text-align: center;
}
body .popular_service .services .service p {
  font-size: 14px;
  color: #777777;
  margin: 0;
  line-height: 24px;
}
body .popular_service .services .service img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 54px;
}
body .section_hint {
  padding: 8px 24px;
  border-radius: 60px;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  color: #001489;
  background: #daeeff;
}
body .statistics_section {
  min-height: 400px;
  background-color: #001489;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
}
body .statistics_section .content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
body .statistics_section .content .img {
  position: relative;
}
body .statistics_section .content img {
  height: 310px;
  position: absolute;
  top: -185px;
  left: 50%;
  transform: translateX(-50%);
}
body .statistics_section .content h2 {
  color: #fff;
  font-size: 28px;
  line-height: 2;
}
body .faqs_section {
  padding: 60px 0;
  background: #f4f5f8;
}
body .faqs_section h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #001489;
  margin-bottom: 48px;
}
body .faqs_section .num {
  text-wrap: nowrap;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  background: #001489;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .faqs_section .accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .faqs_section .accordion .accordion-item {
  overflow: hidden;
  border: 0;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: 0.3s ease-in-out;
  background: #fff;
  box-shadow: none;
}
body .faqs_section .accordion .accordion-item.active {
  background: rgba(228, 54, 117, 0.0705882353);
}
body .faqs_section .accordion .accordion-item.active button {
  color: #fff !important;
}
body .faqs_section .accordion .accordion-item.active::after {
  color: #fff !important;
}
body .faqs_section .accordion .accordion-item .accordion-button {
  padding: 28px 24px;
  box-shadow: none !important;
  color: #001489;
  gap: 12px;
}
body .faqs_section .accordion .accordion-item .accordion-button::after {
  content: "\f00d";
  font-family: "Font Awesome 6 Pro";
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  transform: rotate(135deg);
  transform-origin: center;
}
body .faqs_section .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}
body .faqs_section .accordion .accordion-item .accordion-body {
  background: transparent !important;
}
body .faqs_section .accordion .accordion-item .accordion-body p {
  color: #777 !important;
  margin: 0;
  line-height: 1.8;
}
body .faqs_section .accordion-button:not(.collapsed) {
  background: #001489 !important;
  color: #fff !important;
}
body .faqs_section .accordion-button:not(.collapsed) .num {
  background: #fff;
  color: #001489;
}
body .features_section {
  padding: 60px 0;
}
body .features_section .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body .features_section .content h3 {
  color: #001489;
}
body .features_section .content p {
  color: #333;
  line-height: 1.9;
}
body .features_section .content ul {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}
body .features_section .content ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .features_section .content ul li i {
  color: #001489;
}
body .features_section .content a {
  color: #001489;
}
body .about_img {
  width: 100%;
  position: relative;
  isolation: isolate;
}
body .about_img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  top: -24px;
  right: -24px;
  border: 10px solid #f8f8f8;
}
@media screen and (max-width: 576px) {
  body .about_img::after {
    top: -16px;
    right: -16px;
  }
}
body .about_img img {
  width: 100%;
  z-index: 9;
}
body .positions {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 24px;
}
body .positions li {
  border: 1px solid #e5e5e5;
  padding: 8px 12px;
  border-radius: 100px;
}
body .positions li i {
  color: #001489;
}
body .how_it_works {
  padding: 60px 0;
}
body .how_it_works .content {
  padding-inline-end: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .how_it_works .content h1 {
  font-size: 36px;
  color: #001489;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  body .how_it_works .content h1 {
    font-size: 26px;
  }
}
body .how_it_works .content p {
  color: #333;
}
body .how_it_works .content ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #333;
}
body .how_it_works .content ul i {
  color: #001489;
}
body .whyus {
  padding: 60px 0;
  min-height: 400px;
  background-image: linear-gradient(rgba(0, 21, 137, 0.8509803922), rgba(0, 21, 137, 0.8509803922)), url("/images/whyUs.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
}
body .whyus.methods {
  background-image: linear-gradient(rgba(0, 21, 137, 0.8509803922), rgba(0, 21, 137, 0.8509803922)), url("/images/why3.jpg");
}
body .whyus h2 {
  color: #fff;
  text-align: center;
  font-size: 46px;
  margin: 0 auto;
  margin-bottom: 62px;
}
@media screen and (max-width: 576px) {
  body .whyus h2 {
    font-size: 20px;
  }
}
body .whyus h5 {
  color: #99a2ca;
  font-size: 32px;
  text-align: center;
}
body .whyus h6 {
  color: #fff;
  text-align: center;
  margin-bottom: 62px;
}
body .whyus ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
body .whyus ul li {
  align-items: center;
  display: flex;
  gap: 12px;
  color: #fff;
}
body .whyus ul li img {
  filter: brightness(0) invert(1);
}
body .how_we_do {
  padding: 60px 0;
  background: #f4f5f8;
}
body .how_we_do .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}
body .how_we_do .content h2 {
  color: #001489;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.7;
}
body .how_we_do .content p {
  line-height: 2;
  color: #333;
}
body .how_we_do .title {
  color: #001489;
  margin-top: 24px;
  text-align: center;
  font-weight: 700;
}
body .how_we_do .subtitle {
  text-align: center;
  margin: 0 auto;
  width: min(800px, 100%);
}
body .how_we_do .setps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px;
}
body .how_we_do .setps .step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  gap: 18px;
  position: relative;
}
body .how_we_do .setps .step .num {
  position: absolute;
  top: 8px;
  left: 20px;
  z-index: 9;
  background: #6673af;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  body .how_we_do .setps .step {
    max-width: 160px;
    min-width: 160px;
  }
}
body .how_we_do .setps .step .icon {
  width: 180px;
  height: 180px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .how_we_do .setps .step .icon {
    width: 150px;
    height: 150px;
  }
  body .how_we_do .setps .step .icon img {
    height: 70px;
  }
}
body .how_we_do .setps .step .icon::after {
  content: "";
  background: url("/images/line.svg");
  position: absolute;
  top: 50%;
  height: 10px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  left: 96%;
}
@media screen and (max-width: 768px) {
  body .how_we_do .setps .step .icon::after {
    display: none;
  }
}
body .how_we_do .setps .step h4 {
  text-align: center;
  font-size: 24px;
  color: #333;
  font-weight: 600;
  margin: 0;
}
@media screen and (max-width: 768px) {
  body .how_we_do .setps .step h4 {
    font-size: 18px;
  }
}
body .how_we_do .setps .step:last-child .icon::after {
  display: none;
}
body .how_we_do .center_t {
  width: min(800px, 100%);
  margin: 0 auto;
}
body .parteners {
  padding: 60px 0;
  background: #f4f5f8;
}
body .parteners .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
body .parteners .content p {
  text-align: center;
  color: #333;
}
body .parteners .content .customBtn {
  width: -moz-fit-content;
  width: fit-content;
}
body .jobseekers_section {
  padding: 60px 0;
}
body .jobseekers_section .content {
  display: flex;
  flex-direction: column;
  padding-inline-end: 12px;
  gap: 16px;
}
body .jobseekers_section .content h2 {
  font-size: 18px;
  color: #7c878e;
}
body .jobseekers_section .content h3 {
  color: #001489;
  font-weight: 600;
  font-size: 36px;
}
body .jobseekers_section .content li {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .jobseekers_section .content li i {
  color: #001489;
}
body .jobseekers_section .content p {
  font-size: 14px;
  color: #777;
  margin: 0;
}
body .jobseekers_section .content p b {
  color: #001489;
}
body .resumes {
  padding: 60px 0;
  background: #f4f5f8;
}
body .resumes .cv {
  display: flex;
  background: #fff;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .resumes .cv {
    flex-direction: column;
  }
}
body .resumes .cv .img {
  flex: 1;
}
body .resumes .cv .img img {
  aspect-ratio: 3/2;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}
body .resumes .cv .content {
  flex: 1;
  padding: 32px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  body .resumes .cv .content {
    padding: 24px;
  }
}
body .resumes .cv .content .head h3 {
  color: #001489;
  font-size: 26px;
}
body .resumes .cv .content .head .date {
  position: absolute;
  right: 24px;
  top: 0;
  background: #6673af;
  height: 110px;
  width: 80px;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
}
body .resumes .cv .content .actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
body .resumes .cv .content .actions a {
  background: #001489;
  color: #fff;
  padding: 12px 24px;
}
body .filter_section {
  padding: 60px 0;
  background: #001489;
}
body .filter_section h2 {
  color: #fff;
  font-weight: 700;
}
body .filter_section form {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  body .filter_section form {
    flex-direction: column;
  }
}
body .filter_section form .input_field {
  background: #fff;
  width: 100%;
  gap: 12px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}
body .filter_section form .input_field img {
  height: 22px;
}
body .filter_section form .input_field input,
body .filter_section form .input_field select {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
body .filter_section form button {
  background: rgba(255, 255, 255, 0.3411764706);
  height: 52px;
  min-width: 52px;
}
body .filter_section form button img {
  height: 22px;
}
body .jobseekers_details_section {
  padding: 60px 0;
}
body .jobseekers_details_section .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body .jobseekers_details_section .content .head h2 {
  color: #001489;
}
body .jobseekers_details_section .content .head p {
  color: #777;
}
body .jobseekers_details_section .content .list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .jobseekers_details_section .content .list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
  font-size: 14px;
}
body .jobseekers_details_section .content .list ul li i {
  color: #001489;
}
body .bottom_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .bottom_action .share {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .bottom_action .share p {
  margin: 0;
}
body .bottom_action .share ul {
  display: flex;
  gap: 24px;
}
body .bottom_action .share ul a {
  color: #001489;
  font-size: 20px;
}
body .bottom_action .back_btn {
  border: 1px solid #001489;
  padding: 12px 32px;
  border-radius: 80px;
  color: #001489;
}
body .logos {
  background: #fff;
  padding: 40px 0;
  width: 100%;
  display: block;
}
body .logos img {
  width: 180px;
  height: 180px;
}
body .logos img .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contact_section {
  padding: 60px 0;
}
body .contact_section h2 {
  color: #001489;
  font-size: 28px;
  margin-bottom: 24px;
  font-weight: 700;
}
body .contact_section .contact_text {
  color: #333;
  font-size: 18px;
  line-height: 1.7;
}
body .contact_section .employeer_contact {
  padding: 70px;
  background-image: linear-gradient(rgba(0, 21, 137, 0.8509803922), rgba(0, 21, 137, 0.8509803922)), url("/images/contactemployer.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 32px;
}
@media screen and (max-width: 768px) {
  body .contact_section .employeer_contact {
    padding: 40px;
    flex-direction: column;
  }
}
body .contact_section .employeer_contact h4 {
  color: #fff;
  font-size: 32px;
}
body .contact_section .employeer_contact p {
  color: #fff;
  font-size: 19px;
}
body .contact_section .employeer_contact button {
  width: -moz-fit-content;
  width: fit-content;
  border: 0.5px solid #fff;
  color: #fff;
  padding: 8px 30px;
  border-radius: 10px;
}
body .contact_section .employeer_contact button img {
  width: 30px;
  margin-inline-end: 12px;
}
body .contact_form {
  padding: 60px 0;
  background: #f4f5f8;
}
body .contact_form h3 {
  color: #001489;
  font-size: 26px;
  margin-bottom: 32px;
}
body .contact_form input,
body .contact_form textarea {
  background: #fff;
  width: 100%;
  height: 54px;
  padding: 0 16px;
  outline: none;
  border: none;
}
body .contact_form textarea {
  padding-top: 16px;
  height: 180px;
}
body .contact_form button {
  color: #fff;
  background: #001489;
  margin: 0 auto;
  padding: 12px 42px;
  border-radius: 80px;
}
body .offices {
  padding: 60px 0;
}
body .offices h2 {
  color: #001489;
  margin-bottom: 32px;
}
body .offices .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 42px;
  height: 100%;
}
body .offices .content h3 {
  color: #001489;
}
body .offices .content ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .offices .content ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #333;
}
body .offices .content ul li i {
  color: #001489;
}
body .offices .content ul li a {
  color: #001489;
}
body .pagination_component {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-content: center;
}
body .pagination_component img {
  opacity: 50%;
  transition: opacity 0.2s;
}
body .pagination_component button:hover img {
  opacity: 100%;
}
body .pagination_component button.disabled:hover {
  cursor: default;
}
body .pagination_component button.disabled:hover img {
  opacity: 50%;
}
body .pagination_component .reverse img {
  transform: rotate(180deg);
}
body .pagination_component p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
body .pagination_component p span {
  color: #333333;
  font-weight: 600;
}
body .numbers {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
body .numbers button {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 15px;
  color: #333333;
  font-weight: 500;
  transition: 0.2s;
}
body .numbers button:hover {
  background: #cfcfcf;
}
body .numbers button.active {
  color: #fff;
  background: #001489;
}
body .paginator_btns {
  display: flex;
  align-items: center;
}
body .paginator_btns button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .paginator_btns button i {
  color: #777777;
  font-size: 18px;
}
body .paginator_btns button.disabled {
  opacity: 50%;
  pointer-events: none;
}
body .paginator_btns button:hover i {
  color: #333333;
}
body main {
  min-height: calc(100vh - 426px);
}
@media screen and (max-width: 992px) {
  body main {
    min-height: calc(100vh - 100px);
  }
}
body main .error-section {
  padding: 60px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
body main .error-section img {
  height: 300px;
  margin-bottom: 24px;
}
@media screen and (max-width: 576px) {
  body main .error-section img {
    height: 230px;
  }
}
body main .error-section h2 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: #333333;
  line-height: 1.7;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  body main .error-section h2 {
    font-size: 20px;
  }
}
body main .error-section a {
  color: #001489;
  border: 1px solid #001489;
  position: relative;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  transition: 0.3s ease-in-out;
  border-radius: 12px;
  gap: 8px;
  background: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  transition: 0.3s ease-in-out;
}
body main .error-section a i {
  font-size: 16px;
}
body main .error-section a:hover {
  color: #fff;
  border-color: #001489;
  background-color: #001489;
}
body main .empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
body main .empty-section h2 {
  margin: 0;
  text-align: center;
  text-wrap: balance;
  font-size: 36px;
  font-weight: 800;
  color: #cecece;
  line-height: 1.6;
}
body .confirm-delete p {
  color: #333333;
  font-size: 16px;
  margin-bottom: 24px;
}
body .confirm-delete p span {
  color: red;
  font-weight: 600;
}
body .confirm-delete .cancel-btn {
  border: 1px solid #f2f2f2;
  color: #333333;
  width: 100%;
  outline: none;
  background: none;
  padding: 12px;
  border-radius: 12px;
}
body .confirm-delete .delete-btn {
  width: 100%;
  padding: 8px;
  background: rgb(255, 0, 0);
  color: #fff;
  border-radius: 12px;
  border: 0;
  outline: none;
}
body .confirm-delete.other .delete-btn {
  background: #001489;
}
body .loader {
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
body .loader img {
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
body .loader span {
  width: 100px;
  height: 2px;
  background: #f8f8f8;
  position: relative;
  overflow: hidden;
}
body .loader span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  background: #001489;
  height: 100%;
  animation: appLoading 0.5s linear infinite alternate;
}
@keyframes appLoading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120px);
  }
}
body.en {
  direction: ltr !important;
}
body.en input,
body.en select,
body.en textarea {
  direction: ltr !important;
}
body.en .pass-group .show-pass {
  border-radius: 0 12px 12px 0 !important;
}
body.en .pass-group input {
  border-radius: 12px 0 0 12px !important;
}
body.en .closeModal {
  right: 16px;
  left: unset;
}

footer {
  padding: 60px 0 0;
  background: #001489;
}
footer .logo img {
  filter: brightness(0) invert(1);
}
footer .social_media {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 24px;
}
footer .social_media a {
  color: #fff;
}
footer .footer_col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .footer_col h5 {
  color: #fff;
  font-size: 20px;
}
footer .footer_col ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .footer_col ul li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .footer_col ul li h6 {
  color: #fff;
  margin: 0;
}
footer .footer_col ul li a {
  font-size: 14px;
  color: #fff;
}
footer .copyRights {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0 20px;
  border-top: 1px solid #d0d0d0;
}
footer .copyRights p {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.Page_header {
  height: 300px;
  background-size: cover;
  background-position: bottom;
}
.Page_header h2 {
  color: #fff;
  margin: auto 0;
  font-size: 42px;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */